@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*ELEMENTS*/
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  min-height: 100%;
  box-sizing: border-box;
}
body .inner-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #333333;
  min-height: 100%;
  width: 1200px;
}
main .main-container-index {
  flex-grow: 1;
}

.sheet {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #333333;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  border-radius: 50%;
  margin: auto 10px auto 0px;
}
.tooltip span{
  margin: auto;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: #333333;
  color: #ffffff;
  padding: 18px 20px;
  border-radius: 10px;
  text-align: center;
  Width:256px;

    z-index: 1;
    top: -5px;
}

/*MODAL*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
  }

  .modal-search {
    box-sizing: border-box;
    height: auto;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.modal-container-close {
display:none;
}

.form-list {
display: grid;
grid-template-columns: 575px;
grid-template-rows: 50px 50px 50px 60px;
gap: 40px;
list-style-type: none;
margin: 0px auto ;
align-items: flex-start;
padding:0px;
}

div.form-line{
  margin-bottom: 40px;
}
.form-list li {
  list-style-type: none;
}

.form-line input{
border-radius: 4px;
border:3px #F2F2F2 solid
}

.form-line input:hover{
  background-color: #E5E5E5;
  border-radius: 4px;
  border:3px #E5E5E5 solid
  }

  .form-line input:focus{
    background-color: #E5E5E5;
    border-radius: 4px;
    border:3px #83B3D3 solid
    }

    .form-line input:focus{
      background-color: #E5E5E5;
      border-radius: 4px;
      border:3px #83B3D3 solid
      }

      .form-line input:invalid{
        background-color: #E5E5E5;
        border-radius: 4px;
        border:3px #FF5757 solid
        }


.modal {
  position: relative;
  margin: auto;
  padding:60px 72px;
  background-color: #FFFFFF;
  width: 715px;
  height: auto;
}

.modal-close-button {
  display: block;
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  padding: 0;
  margin: auto auto;
  top: 54px;
  right: 54px;
  width: 56px;
  height: 56px;
  border: none;
  background-image: url("images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button span{
  margin:auto;
}

.modal-close-button:focus {
  outline:3px #698FA9 solid;
  border-radius: 100px;
  width: auto;
  grid-column-start: 1;
}

.modal-close-button:hover {
  background-color: #E5E5E5;
  border-radius: 50%;
}



.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.arrow-minus,.arrow-plus {
  background-color: transparent;
}

.modal-input-text {
  width: 420px;
  box-sizing: border-box;
  margin:0px;
  padding: 14px 20px;
  background-color: #F2F2F2;
  color: #000000;
  outline: 0px;
  width: 420px;
  font-family: inherit;
  font-weight: 700;
  border:0px;
  position: relative;
}

.adult {
  width: 288px;
  justify-content: space-between;
}

.child {
  flex-grow: 1;
  justify-content: space-between;
}

.form-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: baseline;
  list-style-type: none;
  margin: 0px;
  list-style-position: inside;
  box-sizing: border-box;
  Width: 575px;
}

.form-line label {
  width: auto;
}

.form-line:nth-child(3) {
  justify-content: space-between;
  padding: 0px 0px;
}

.form-child {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    position: relative;
}

.raz {
  all: unset;
  -moz-appearance: textfield;
  text-align: center;
}

.modal-input-number {
  background-color: #F2F2F2;
  color: #000000;
  width: 50px;
  border:0px;
  padding: 0px 0px;
  text-align: center;
  box-sizing: border-box;
}

.date-icon {
  position: absolute;
  right: 20px;
  top: 3px;
}

.input-number:active {
  border-radius: 4px;
  outline:0px ;
  background-color: #F2F2F2;
}

.input-number:focus {
  border-radius: 4px;
  outline:3px #698FA9 solid ;
  background-color: #E5E5E5;
}

.input-number:active {
  border-radius: 4px;
  outline: 2px #000000 solid ;
  background-color: #FFFFFF;
}

.search-form-text {
  width:155px ;
  text-align: start;
}

.raz::-webkit-inner-spin-button {
  display: none;
}

.input-number {
  display: grid;
  grid-template-columns: 48px 54px 48px;
  grid-template-rows: 50px;
  background-color: #F2F2F2;
  border-radius: 4px;
border:3px #F2F2F2 solid
}

.input-number button {
  border:0px;
  outline: 0px;
  display: block;
  width: 50px;
  height: 50px;
}


.input-number-line {
  display:flex;
  justify-content: flex-start;
  text-align: center;
}

.input-number-line .adult{
  margin-right: 60px;
  text-align: center;
}
.search-form-label{
  margin: auto 0px;
}
.input-number-line svg {
  border:0px;
  outline:0px;
  background-color: #F2F2F2;
  display:block
}
.input-number.adult{
  height: 50px;
}
.modal-search.button {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  margin: 0 auto;
}

.date-icon {
  padding: 12px;
  background-color: #F2F2F2;
  margin: 0px;
}


/*BUTTONS*/

.primary {
  display: block;
  font-family: inherit;
  text-decoration: none;
  background-color: #83B3D3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 3px #83B3D3 solid;
}
.primary:visited {
  background-color: #83B3D3;
  color: #ffffff;
}
.primary:hover {
  background-color: #68A2CA;
}

.primary:focus {
  border:3px #756257 solid;
}



.secondary {
  display: block;
  font-family: inherit;
  text-decoration: none;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 3px #756257 solid;
  border-color: #756257;
}

.secondary:visited {
  outline:0px;
  border: 0px;
  background-color: #756257;
  color: #ffffff;
}

.secondary:hover {
  background-color: #615048;
}

.secondary:focus {
  border: 3px solid #83B3D3;
}



.tertiary {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  border: 0;
}

.third {
background-color: #7DB54F;
border: 3px;
border-color: transparent;
text-transform: uppercase;
color: #FFFFFF;
}

.standart {
  font-family: inherit;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
  border-radius: 4px;
  border: 3px;
  border-color: transparent;
  min-width: 160px;
  width: 160px;
  vertical-align: middle;
}


.large.button {
  padding: 10px 0px;
  border-radius: 4px;
  margin: 30px auto;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
  font-weight: 700;
  max-width: 625px;
}

.standart-third-button {
  font-family: inherit;
  text-decoration: none;
  background-color: #6c9e42;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}


/*HEADER*/

.header-first {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", sans-serif;
  height: 70px;
  background-color: #ffffff;
  color: #000000;
  border: 0px;
  padding: 0px 72px;
  justify-content: space-between;
  box-sizing: border-box;
}

.navigation-list {
  margin: 0px;
  display: flex;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  align-items: center;
  padding: 0px;
  min-width: 250px;
  margin: 0px -32px;
}

.navigation-link {
  font-family: inherit;
  display: block;
  min-width: 26px;
  text-decoration: none;
  color: #000000;
  margin: auto 32px;
  padding: 20px 0px;
  box-sizing: border-box;
  position: relative;
}


.linkactive{
  border-bottom: 2px #756257 solid;
}

.navigation-link:visited {
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}


li.navigation-item {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.image-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: flex-start;
}

.navigation-item-left {
  display: inline;
  text-align: center;
}

.favorite{
  position: relative;
}

.fav {
  position:absolute;
  top:17px;
  right: -5px;
  display: block;
  background-color: #7DB54F;
  border-radius: 100px;
  color: #000000;
  font-family: inherit;
  font-size: 10px;
  font-family: inherit;
  line-height: 10px;
  padding: 4px 4px;
}

.navigation-search {
  display: block;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.banner-text {
  font-family: inherit;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  max-width: 720px;
}


header .navigation-list-left {
  position: relative;
  margin-left: auto;
  display: flex;
  font-size: 20px;
  width: 250px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: inherit;
}


/*POPOVER*/
.popup {
  position: absolute;
  top:54px;
  right: 72px;;
  z-index: 1;
  font-family: "PT Sans", sans-serif;
  width: 400px;
  min-height: 232px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 20px;
  display: none;
}
.popover-close-button {
  padding: 20px ;
  text-align: center;
  text-transform: uppercase;
}
.cart-item-img {
   border-radius: 100px;
}
.cart-item:hover {
opacity: 0,6;
}
.cart-item:focus {
  outline: 3px #698FA9 solid;
  border-radius: 10px;
  }
.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
  list-style-type: none;
}
.cart-item {
  margin:25px 0px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.cart-item-info {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
}
.cart-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  margin: 0px 16px;
}

.popover-all-button {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  border-radius: 0px 0px 20px 20px;
  margin-top: auto;
}

.cart-item-button{
  border:0px;
}

/*MAIN PAGE FIRST SCREEN*/
.banner-image {
  position: relative;
  font-family: "PT Sans", sans-serif;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 485px;
  background-image: url("../img/index-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  box-sizing: border-box;
}

.fr-sr-content {
  margin: 60px auto 80px auto ;
  background-image: url("../img/svg/divider.svg");
  background-position-x: center;
  background-position-y: top -50px;
  background-color: #ffffff;
  text-align: center;
}
.fr-sr-content .banner-text{
  text-align: center;
  margin-bottom: 30px;
}
.welcome-img {
  margin: 0 auto;
  margin-top: 64px;
}

.first-screen-text {
  font-size: 22px;
  font-family: inherit;
  margin-top: 30px;
}

/*MAIN PAGE BLOCKS*/
.adv {
  box-sizing: border-box;
}

.adv p {
  max-width: 250px;
}

.advantages {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0px;
  gap: 0px;
  margin: 0px;
  border: 0px;
  width: 1200px;
  grid-auto-rows: 384px;
  min-height: 1535px;
}

.advantages li {
  display: flex;
  flex-direction: column;
  background-color: #f0f6fa;
  color: #333333;
  width: 400px;
  text-align: center;
  font-family: inherit;
  box-sizing: border-box;
  padding: 80px   76px;
  align-items: center;
}

.devil-bridge h3 {
  color: #ffffff;
}
.advantages h3 {
margin-bottom: 20px;
margin-top: 20px;
}
.advantages p {
margin-top: 18px;
}
.advantages li:first-child {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 1200px;
  padding: 0;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  box-sizing: border-box;
  background-color: #83B3D3;
}

.real-town-block {
  margin-right: 0px;
  right: 0px;
}

.real-town-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #83B3D3;
  height: 100%;
  margin-top: 100px;
}

.devil-bridge-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #83B3D3;
}

.advantages li:nth-child(5n) {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.advantages li:nth-child(3n) {
  background-color: #ffffff;
  color: #333333;
}

.advantages li:nth-child(7n) {
  background-color: #e6f0f6;
  color: #333333;
}

.devil-bridge-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  justify-content: center;
}

img.devil-bridge-image {
  display: block;
  position: relative;
  margin-right: auto;
}

.number {
  text-align: center;
}
.adv-svg {
  width: 75px;
  height: 72px;
}
.hotels-search {
  width: 1200px;
  min-height: 411px;
  margin: 0 auto;
}

.content-search {
  margin: 90px auto;
  width: 720px;
  align-items: center;
}

.large-search {
  padding: 10px 0px;
  border-radius: 10px;
  margin: 70px auto;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
  font-weight: 700;
  max-width: 575px;
}



/*CATALOG FILTER*/

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../img/filter-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #ffffff;
  background-size: cover;
  width: 100%;
  height: 100%;
  width: 1200px;
  height: 408px;
  font-family: inherit;
  padding: 30px 72px 80px 72px;
  box-sizing: border-box;
}

.fieldset ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.filter-value li{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.filter-heading {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
padding: 0px;
}

h1.heading {
  font-family: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin:0px
}

.filter form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 1057px;
  flex-wrap: wrap;
  margin-top:40px;
}

.filter fieldset {
  display: flex;
  flex-direction: column;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
.filter-value fieldset li{
padding: 8px 0px;
}

fieldset.filter-buttons{
  padding: 55px 0px;
}

fieldset.filter-buttons:fisrst-child{
margin-top: 15px;
}

.filter-slaider{
margin: 32px 0px;
}

.filter .legend-filter{
  margin-bottom:30px;
}

.filter-checkbox {
  display: none;
}

.checkbox-fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative;
}

.checkbox-fake:hover{
  opacity: 0,6;
}

.checkbox-fake:active{
  opacity:0,4;
  }


.checkbox-fake::before {
  content: "";
  position:absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 0px;
  background-image: url(../img/svg/check.svg);
  background-size: 12px 9px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.checkbox-fake:hover{
  opacity:0,6;
  }

  .checkbox-fake:focus{
    outline: 3px #83B3D3 solid;
    }

  .checkbox-fake:active{
    opacity:0,4;
    }

.filter-checkbox:checked + .checkbox-fake::before {
  opacity: 1;
}

.checkbox-fake:hover:before{
opacity:0,6;
}

.checkbox-fake:focus:before{
  outline: 3px #83B3D3 solid;
  }

.checkbox-fake:active:before{
  opacity:0,4;
  }

.filter-radio {
  display: none;
}
.radio-fake {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: relative;
}

.radio-fake::before {
  content: "";
  position:absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  color: #3F5E72;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.filter-radio:checked + .radio-fake::before {
  opacity: 1;
}

.breadcrumbs {
  font-family: inherit;
  font-size: 16px;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0px;
}

.price-filter{
  position: relative;
}

.label-housing{
  padding-left:20px ;
}

.hotels-search {
  background-color: #ffffff;
  width: 1200px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}



.price-filter {
  display: flex;
  padding: 0px;
  position: relative;
  align-items: flex-start;
}

input[type="number"].catalog-filter-input {
  font-family: inherit;
  font-size: 18px;
  font-family: inherit;
  padding: 12px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: 0px;
}

.catalog-filter-input:hover .filter-value-input {
  outline: 2px #FFFFFF solid;
  border-radius: 4px;
}

.catalog-filter-input:hover{
  border: 2px solid #FFFFFF;
box-sizing: border-box;
opacity: 0.6;
}

.catalog-filter-input:focus: {
box-shadow: 0px 0px 0px 3px #81B3D2;
}

.filter-value-input:active {
  outline: 2px #FFFFFF solid;
  border-radius: 4px;
  background-color: #756257;;
}


.filter-value-input:first-child {
  border-right: 2px #FFFFFF solid;
  outline: 0px;
  border: 0px;
}

.filter-value-input:last-child {
  border-left: 2px #FFFFFF solid;
  outline: 0px;
  border-radius: 0px;
}

.value-filter-label-ot {
  position:absolute;
  top: 12px;
  left: 100px;
}

.value-filter-label-after {
  position: absolute;
  top: 12px;
  right: 14px;
}

.legend-filter {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter ul {
  padding: 0px;
  margin: 0px;
}

.product-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  border:2px #FFFFFF solid;
}

.product-name:focus {
  border:2px #698FA9 solid;
  border-radius: 10px;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 4;
  border:2px transparent solid;
  border-radius: 4px;
}



.breadcrumbs-icon{
  display: block;
  padding: 7px 8px;
  border:2px transparent solid;
  border-radius: 4px;
}

.breadcrumbs-.icon:focus {
  border:2px #83B3D3 solid;
  border-radius: 4px;
}

.breadcrumbs-icon:hover {
  color: #FFFFFF;
opacity: 0.6;
}

.breadcrumbs-icon:active {
  color: #FFFFFF;
opacity: 0.3;
}

.breadcrumbs-title{
  display: block;
  padding: 3px 8px;
  border:2px transparent solid;
  border-radius: 4px;
}

.breadcrumbs-title:hover {
  color: #FFFFFF;
opacity: 0.6;
}

.breadcrumbs-title:focus {
  border:2px #83B3D3 solid;
  border-radius: 4px;
}

.breadcrumbs-title:active {
  color: #FFFFFF;
opacity: 0.3;
}


/*CATALOG HOUSE FILTER*/
.housing-filter {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 1057px;
  min-height: 48px;
  padding: 0 72px;
  justify-content: space-between;
  /*box-sizing: border-box;*/
  margin: 42px auto;
  text-align: start;
}

.housing-filter .banner-text{
  margin: 0px;
}

.catalog-view {
  display: grid;
  gap:8px;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows:auto;
}

.catalog-view a {
  padding: 10px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

.catalog-view a:focus {
  border:2px #698FA9 solid;
}

.catalog-view a:hover {
  border:2px #698FA9 solid;
}

.catalog-view-сards {
  background-image: url(../img/svg/mode-tile.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: 16px;
  font-family: inherit;
  width: 48px;
  height: 48px;
  display: block;
}

.catalog-view-big {
  background-image: url(../img/svg/mode-slideshow.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px;
  display: block;
}

.catalog-view-little {
  background-image: url(../img/svg/mode-list.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px;
  display: block;
}


/*PRODUCT CARDS*/

.catalog ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.catalog {
  width: 1056px;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog-card {
  display: flex;
  min-width: 207px;
  min-height: 123px;
  background-color: #ffffff;
  color: #333333;
  font-family: inherit;
  /*margin-bottom: 30px;*/
  border-bottom: 1px #e5e5e5 solid;
  box-sizing: content-box;
  align-items: flex-start;
  padding: 30px 0px;
}

.catalog-card img {
  border: 3px transparent solid ;
}

.catalog-card img:hover {
  opacity: 0.6;
}

.catalog-card img:focus {
  border: 3px #83B3D3 solid ;
}

.catalog-card img:active {
  opacity: 0.3;
}




.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*justify-content: space-between;*/
  min-height: 123px;
  margin:0px auto auto 38px;
}

.card-content a {
  text-decoration: none;
}
.name-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name-info:visited {
  color:#000000;
}

.name-info:hover {
  color:#858585;
}

.name-info:focus {
  color:#756257;
  outline:3px #83B3D3 solid;
}

.name-info:active{
color: #D6D0CC;
}

.info {
  display: flex;
  justify-content: space-between;
  min-width: 235px;
}

.card-actions {
  display: flex;
  width: 335px;
  margin: 30px 0px 0px 0px;
}

.card-actions a:first-child {
  margin-right:8px;
}

.product-name {
  min-width: 250px;
}


/*REITING*/
.all-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 123px;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}

.all-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: #83B3D3;
}

.rating-text {
  display: block;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  padding: 10px 24px;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 4px;
  text-transform: uppercase;
}

/*PAGINATION*/
.all-pagination {
  /*display:flex;*/
  justify-content: space-between;
}

.pagination-amount {
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
  margin: 60px 72px 90px 72px;
  justify-content: space-between;
}



.button {
  margin: 0 auto;
}

.pagination {
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: row;
  min-height: 55px;
  min-width: 369px;
}

ul.pagination{
  padding: 0px;
  list-style-type: none;
  margin: 0px;
}

.pagination-item {
  display: inline;
}

.pagination-link {
  background-color: #83B3D3;
  color: #ffffff;
  display: block;
  padding: 16px 16px;
  text-decoration: none;
  color: #333333;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

.isActive {
  background-color: #F2F2F2;
  color: #000000;
}

.quantity-hotels {
  min-width: 288px;
  width: 100%;
  padding: 12px 16px;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  width: 60px;
}

.amount-filter {
  display: flex;
  align-items: center;
  margin: 0px -50px;
  margin-right: 12px;
}

.amount-filter label {
  margin-right: 50px;
}

.amount-hotels{
  width: 160px;
  padding: 12px 16px;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  margin-left: 50px;
}

/*MAIL*/
.mail {
  background-image: url("../img/background-email.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #40a1e2;
  background-size: cover;
  height: 411px;
  width: 1200px;
  font-family: inherit;
  margin: 0 auto;
  padding: 94px 180px;
  align-items: center;
  box-sizing: border-box;
}

form.email-form {
  display: flex;
}

section.mail {
  height: 411px;
}

.content-mail {
  display: flex;
  flex-direction: column;
  min-width: 593px;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  min-width: 800px;
  margin: auto;
  align-items: center;
}

.mail .banner-text {
  color: #ffffff;
  min-width: 720px;
  flex-wrap: wrap;
  text-align: center;
}

input[type="email"] {
  font-family: inherit;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  font-family: inherit;
  padding: 16px;
  border: 0;
  border-radius: 10px 0 0 10px;
  width: 600px;
}

.mail button {
  padding: 11px 27px;
  border-radius: 0 10px 10px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  border: 3px #83B3D3 solid;
  box-sizing: border-box;
}

.mail button:focus {
  border: 3px #756257 solid;
  background-color: #68A2CA;
}

.mail button:hover {
  border: 3px #756257 solid;
  background-color: #68A2CA;
}

.mail button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

/*FOOTER*/

footer.footer {
  display: flex;
  background-color: #ffffff;
  color: #333333;
  font-family: inherit;
  height: 120px;
  padding: 0 48px;
  align-items: center;
  box-sizing: border-box;
}

footer li {
  display: inline-block;
  align-items: center;
  margin: 0px;
  padding: 0px;
}


footer .phone {
  padding: 0px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  font-family: inherit;
}

.social-icons {
  padding: 0px;
  margin: 0px;
}
.social-icons div{
  display: block;
}
.social-icons a{
  margin: auto;
}
.icon {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px transparent solid ;
  border-radius: 4px;
}

.icon:focus{
  border:3px #698FA9 solid;
  border-radius: 4px;
}

.icon:active{
  opacity: 0.3;
}

.icon-facebook {
  background-image: url("../img/svg/social-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook:hover{
  background-image: url("../img/svg/social-facebook-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-youtube {
  background-image: url("../img/svg/social-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-youtube:hover  {
    background-image: url("../img/svg/social-youtube-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

.icon-twitter {
  background-image: url(../img/svg/social-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-twitter:hover {
  background-image: url(../img/svg/social-twitter-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons a {
  border: 3px #ffffff solid;
  box-sizing: border-box;
}

.social-icons a:hover {
  color: #68A2CA;
}

.social-icons a:focus {
  border:3px #698FA9 solid;
  border-radius: 4px;
}

.social-icons a:active {
color: #D2E3EF;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  outline: 3px #698FA9 solid;
  border-radius: 10px;
}

.phone:active {
  color: #D6D0CC;
}

.img-link:hover {
  color: #756257;
}

.img-link:focus {
  color: #756257;
  outline: 3px #698FA9 solid;
  border-radius: 10px;
}

.img-link:active {
  color: #D6D0CC;
}
