@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*ELEMENTS*/
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100%;
}
body .catalog {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  font-size: 18px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100%;
}
main .main-container-index{
  flex-grow: 1;
}
.main-inner{
  display: flex;
  flex-direction: column;
  text-align:left;
  color: #333333;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  Width :1200px;
}
.sheet{
  background-color: #ffffff;
  color: #333333;
  width: 1200px;
  margin:0 auto;
  padding: 0;
}
.navigation-link{
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.standart{
  font-size: 16px;
}
.primary{
  font-family: inherit;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.secondary{
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color:#756257;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  f
}
}
.standart-primary-button{
  font-family: inherit;
  text-decoration: none;
  color:#000000;
  text-transform: uppercase;
  font-size: 16px;
}
.standart-secondary-button{
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756257;
  color: #FFFFFF;
  font-size: 16px;
}

.standart-third-button{
  font-family: inherit;
  text-decoration: none;
    background-color:#6C9E42;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
}
.standart-tertiary-button{
  font-family: inherit;
  text-decoration: none;
  font-size: 18px;
  background-color:transparent;
}
h1{
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}
h3 {
  text-transform:uppercase;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*HEADER*/
.header-first{
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", sans-serif;
  Width :1200px;
  Height:70px;
  background-color: #ffffff;
  color:#000000;
  /*justify-content: space-between;*/
  border: 0px;
  margin:0px;
  padding:0px;
}
.navigation-list{
  display: flex;
  font-size:20px;
  margin-left: 70px;
  font-weight: 700 ;
  font-style :normal;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navigation-list{
  margin: left-auto;
  Width :250px;
  align-items: center;
  margin: 0;
  padding: 0;
}
li.navigation-item{
  display: inline;
}
.image-logo{
  margin:0 auto;
}
.navigation-list-left{
  display: inline;
  align-items: center;
  margin: 0;
  padding: 0;
}
.banner-text{
  text-transform:uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
  font-style :normal;
}
.first-screen-text{
  font-size: 22px;
}

header .navigation-list-left{
  margin-left: auto;
  display: flex;
  font-size:20px;
  Width: 250px;
  font-weight: 700 ;
  font-style :normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*MAIN PAGE FIRST SCREEN*/
.banner-image{
  position:relative;
  font-family: "PT Sans", sans-serif;
  left:50%;
  transform:translateX(-50%);
  Width :1200px;
  Height:485px;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#ffffff;
  color:#333333;
}
.fr-sr-content{
  background-image: url("../img/svg/divider.svg");
  background-position: - 57px;
  background-position: top;
  background-color: #FFFFFF;
}
/*MAIN PAGE BLOCKS*/
.adv{
  display:flex;
}
.advantages{
  display:grid;
  padding:0px;
  gap: 0px;
  margin: 0px;
  border:0px;
  width: 1200px;
  grid-template-columns: 384px 384px 384px;
  grid-template-rows: 400px  400px  400px  400px;
  min-height: 1535px;
}

.advantages li{
  display:flex;
  flex-direction: column;
  background-color: #F0F6FA;
  color:#333333;
  Width :400px;
  Height :380px;

}
.devil-bridge h3 {
  color: #FFFFFF;
}
.advantages li:first-child{
   display:flex;
   flex-direction: row;
   background-color: #68A2CA;
   color:#FFFFFF;
   Width:1200px;
   Height: 380px;
   justify-content: space-between;
   margin:0;
   grid-column-start:1;
   grid-column-end:3;
}
.real-town-content{
  display:flex;
  flex-direction: column;
  border:75;
}
.advantages li:nth-child(5n){
  display:flex;
  flex-direction: row;
  background-color: #68A2CA;
  color:#FFFFFF;
  Width:1200px;
  Height: 380px;
  display: flex;
  justify-content: space-between;
  margin:0;
  grid-column-start:1;
  grid-column-end:3;
}
.advantages li:nth-child(3n){
  background-color: #FFFFFF;
  color: #333333;
  /*grid-column-start:2;*/
}
.advantages li:nth-child(7n){
  background-color: #E6F0F6;
  color: #333333;
}
.devil-bridge-content{
  display:flex;
  flex-direction: column;
  Width :400px;
  height :380px;
  justify-content: center;
}
img .devil-bridge-image{
  Position:relative;
  margin: right auto;
  height :380px;
}
.number{
text-align :center;
}
.hotels-search{
min-height :411px;
}
/*CATALOG FILTER*/

.filter {
  display:grid;
  grid-template-columns: 150px 150px ;
  grid-template-rows:min-content min-content auto;
  background-image: url("../img/filter-background.png");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#67b4e7;
  color: #ffffff;
 background-size: cover;
  Width :100%;
  height:100%;
  width: 1200px;
  min-height:408px;
  font-family: inherit;
}
.filter fieldset{
  display:flex;
  flex-direction: column;
}
.filter-heading{
  grid-column-start:1;
  grid-column-end:4;
}
.filter-infastructure{
  width: 150px;
}
.filter-housing{
  width: 150px;
}
.filter-value{
  width: 300px;
}
.filter-buttons{
  width: 160px;
}
.breadcrumbs{
  grid-column-start:1;
  grid-column-end:4;
}
.housing-filter{
  display:flex;
  flex-direction: row;
}
.hotels-search{
  background-color:#ffffff;
  Width :1200px;
  align-items: center;
}
.housing-filter li{
display:inline
}
p.filter-heading{
font-family: inherit;
font-size: 60px;
font-weight: 700;
line-height: 78px;
}
.legend-filter{
font-family: inherit;
font-size: 20px;
line-height: 26px;
}
.product-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.breadcrumbs {
  background-image: ("#");
  color: #FFFFFF;
  grid-column-start:1;
  grid-column-end:4;
}

  /*CATALOG HOUSE FILTER*/
  .housing-filter {
    background-color:#ffffff;
  color: #000000
  }
  .catalog-view-сards{
    background-image: url("../img/svg/mode");
    background-size: 100% auto;
    background-repeat:no-repeat;
  }
  .catalog-view-big{
    background-image: url("../img/svg/mode-slideshow.svg");
    background-position: center right;
  }
  .catalog-view-little{
    background-image: url("../img/svg/mode-list.svg");
    background-position: center right;
  }
  .catalog{
    background-color:#ffffff;
  color: #000000;
  }
  /*REITING*/
.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: #FFFFFF;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color:#83B3D3;
}
.rating-text{
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  width: 160px;
  display: flex;
  height:36px;
  background-color: #F2F2F2;
  color: #333333;
}
  .button-big{
    background-color:#83B3D3;
    color:#ffffff
  }
  .catalog{
    width: 1056px;
    min-height: 840px;
  }
  .catalog-card{
    display: flex;
    width: 1056px;
    height: 123px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: inherit;
  }
  /*PAGINATION*/
  .pagination-amount{
    display:flex;
    Height :55px;
    align-items: center;
  }
  .more{
    background-color:#83B3D3 ;
    color: #FFFFFF;
  }
.pagination{
  background-color: #FFFFFF;
  color: #333333;
  display:flex;
  flex-direction: row;
  height:55px;
}
 .pagination-item{
 background-color: #83B3D3;
 color: #FFFFFF;
 display:flex;
}
 .pagination-link{
  display:inline;
  text-decoration: none;
  color: #333333;
}
 .pagination .pagination-item:first-child{
  background-color: #F2F2F2;
  color: #000000
}

  /*MAIL*/
  .content-mail{
    position: relative;
    color: #ffffff;
    overflow: hidden;
    min-height :411px;
    Width:800px;
    margin:0 auto;
    align-items: center;
  }
  .blue-button-email{
    background-color: 83B3D3;
    color: #FFFFFF;
  }
.mail {
  background-image: url("../img/background-email.png");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#40a1e2;
 background-size: cover;
 Height:411px;
 width:1200px;
 font-family: inherit;
}
select .quantity-hotels{
    background-color:#F2F2F2;;
    color: #000000;
    Width:287px;
  }
  /*FOOTER*/
footer.footer{
  display: flex;
  background-color: #ffffff;
  color:#333333;
  font-family: inherit;
  min-height :120px;
  width:1200px;
}
footer li{
  display:inline;
  padding: 20px;
  align-items: center;
}
  footer .phone {
    font-size:40px;
    text-align: center;
  }
  footer a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }
  .social-icons{
    display:inline;
  }
