@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*ELEMENTS*/
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100%;
}
body .catalog {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  font-size: 18px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100%;
}

.main-inner{
  display: flex;
  flex-direction: column;
  text-align:left;
  color: #333333;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  Width :1200px;
}
.sheet{
  background-color: #ffffff;
  color: #333333;
  width: 1200px;
  margin:0 auto;
  padding: 0;
}
a .navigation-link{
  text-decoration: none;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.standart-primary-button{
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.standart-primary-button{
  text-decoration: none;
  color:#000000;
  text-transform: uppercase;
  font-size: 16px;
}
.standart-secondary-button{
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756257;
  color: #FFFFFF;
  font-size: 16px;
}

.standart-third-button{
  text-decoration: none;
    background-color:#6C9E42;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
}
.standart-tertuary-button{
  text-decoration: none;
  font-size: 18px;
}
h1{
  font-family: "PT Sans", sans-serif;
  font-style :normal;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}
h3 {
  text-transform:uppercase;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}
li {
  list-style-type: none;
}
/*HEADER*/
header{
  display: flex;
  font-family: "PT Sans", sans-serif;
  Width :1200px;
  Height:70px;
  background-color: #ffffff;
  color:#000000;
}
.navigation{
  display: flex;
  font-size:20px;
  Width: 532px;
  margin: left auto;
  font-weight: 700 ;
  font-style :normal;
  text-decoration: none;
}
.navigation-list{
  display: inline;
}
.image-logo{
  margin:auto;
}

.banner-text{
  text-transform:uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
  font-style :normal;
}
.first-screen-text{
  font-size: 22px;
}

header .navigation-list-left{
  display: flex;
  font-size:20px;
  Width: 532px;
  margin: left auto;
  font-weight: 700 ;
  font-style :normal;
  text-decoration: none;
}

/*MAIN PAGE FIRST SCREEN*/
.first-sreen {
  position:relative;
  font-family: "PT Sans", sans-serif;
  left:50%;
  transform:translateX(-50%);
  Width :1200px;
  Height:767px;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#ffffff;
  color:#333333;
  /*background-size: cover;*/
}
.fr-sr-content{
  background-color: #FFFFFF;
}
/*MAIN PAGE BLOCKS*/
/*.real-town-block{
  display: flex;
  background-color: #83B3D3;
  color:#FFFFFF;
  Width :1200px;

}
.devil-bridge{
  background-color: #83B3D3;
  color:#FFFFFF;
  display: flex;
}*/

/*ADVANTAGES BLOCKS*/


.advantages{
  display:grid;
  padding:0px;
}
.advantages li{
  display:flex;
  flex-direction: column;
  background-color: #F0F6FA;
  color:#333333;
  Width :400px;
  Height :380px;

}
.devil-bridge h3 {
  color: #FFFFFF;
}
.advantages li:first-child{
   display:flex;
   flex-direction: row;
   background-color: #68A2CA;
   color:#FFFFFF;
   Width:1200px;
   Height: 380px;
   justify-content: space-between;
   margin:0;
}
.real-town-content{
  display:flex;
  flex-direction: column;
  border:75;
}
.advantages li:nth-child(5n){
  display:flex;
  flex-direction: row;
  background-color: #68A2CA;
  color:#FFFFFF;
  Width:1200px;
  Height: 380px;
  display: flex;
  justify-content: space-between;
  margin:0;
}
.advantages li:nth-child(3n){
  background-color: #FFFFFF;
  color: #333333;
}
.advantages li:nth-child(7n){
  background-color: #E6F0F6;
  color: #333333;
}
.devil-bridge-content{
  display:flex;
  flex-direction: column;
  Width :400px;
  height :380px;
  justify-content: center;
}
img .devil-bridge-image{
  Position:relative;
  margin: right auto;
  height :380px;
}
.number{
text-align :center;
}

/*CATALOG FILTER*/
.filter{
  display:flex;
  align-items: center;
}
.content-filter{
    position: relative;
    color: #ffffff;
    overflow: hidden;
  }
.filter {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#40a1e2;
  color: #ffffff;
 background-size: cover;
  Width :100%;
  height:100%;
}

.hotels-search{
  background-color:#ffffff;
  Width :1200px;
  align-items: center;

}
p .filter-heading{
font-family: inherit;
font-size: 60px;
font-weight: 700;
line-height: 78px;
}
span .legend-filter{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
}
.product-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.breadcrumbs {
  background-image: ("#");
  color: #FFFFFF;
}

  /*CATALOG HOUSE FILTER*/
  .housing-filter {
    background-color:#ffffff;
  color: #000000
  }
  .catalog-view-сards{
    background-image: url("../img/svg/mode");
    background-size: 100% auto;
    background-repeat:no-repeat;
  }
  .catalog-view-big{
    background-image: url("../img/svg/mode-slideshow.svg");
    background-position: center right;
  }
  .catalog-view-little{
    background-image: url("../img/svg/mode-list.svg");
    background-position: center right;
  }
  .catalog{
    background-color:#ffffff;
  color: #000000
  }
  /*REITING*/
.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: #FFFFFF;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color:#83B3D3;
}
.rating-text{
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  width: 160px;
  display: flex;
  height:36px;
  background-color: #F2F2F2;
  color: #333333;
}
  .button-big{
    background-color:#83B3D3;
    color:#ffffff
  }
  .catalog-card{
    display: flex;
    width: 1056px;
    height: 123px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: inherit;
  }
  /*PAGINATION*/

.pagination{
  background-color: #FFFFFF;
  color: #333333;
}
 .pagination-item{
 background-color: #83B3D3;
 color: #FFFFFF;
 /*display:flex;*/
}
 .pagination{
  display:inline;
}
 .pagination .pagination-item:first-child{
  background-color: #F2F2F2;
  color: #000000
}

  /*MAIL*/
  .content-mail{
    position: relative;
    color: #ffffff;
    overflow: hidden;
  }

.mail {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-color:#40a1e2;
 background-size: cover;
 Height:411px;
 font-family: inherit;
}
select .quantity-hotels{
    background-color:#F2F2F2;;
    color: #000000;
    Width:287px;
  }
  /*FOOTER*/
footer .footer{
  background-color: #ffffff;
  color:#333333;
  font-family: inherit;
}
footer li{
  padding: 20px;}
  footer .phone {
    font-size:24px;
    text-align: center;
  }
